@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(assets/CursedTimerULiL.woff) format('woff'),
         url(assets/CursedTimerULiL.ttf) format('truetype');         
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0 0 25px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
}

h2 {
    margin: 0 0 25px 0;
    width: 155px;
    height: 120px;
    text-align: center;
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    background-color: #080001;
    color: #F94F6D;
}

button {
    font-family: 'Cursed Timer ULiL';
}