@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(assets/CursedTimerULiL.woff) format('woff'),
         url(assets/CursedTimerULiL.ttf) format('truetype');         
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Cursed Timer ULiL';
}

button {
    font-family: 'Cursed Timer ULiL';
}